.c-sample {
  width: 100px;
  height: 100px;
  color: var(--color-white);
  background-color: var(--color-text);
}

@media (--md) {
  .c-sample {
    width: calc(100 * var(--spacing));
    height: calc(100 * var(--spacing));
  }
}
