<header id="header" class="l-header">
  <p class="sitename"><a href="/">サイト名</a></p>
  <button type="button" id="trigger" class="l-menu-trigger" aria-controls="menu" aria-expanded="false" aria-label="メニューを開く"></button>
  <div id="menu" class="l-menu" aria-hidden="true" role="dialog">
    <nav class="l-menu-nav" aria-label="メニュー">
      <ul>
        <li><a href="/about/">ABOUT</a></li>
        <li><a href="#">LINK</a></li>
        <li><a href="#">LINK</a></li>
        <li><a href="#">LINK</a></li>
      </ul>
    </nav>
  </div>
</header>
